body{
    background-color:beige;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
}
h1{
    text-align: center;
    background-color: purple;
    border-radius: 25px;
    color:white;
    text-decoration: underline;
    text-shadow:90px;
}
form{
    margin: auto;
    background-color:rgba(206, 155, 242, 0.961);
    max-width: 350px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.wow{
    background-color:rgb(199, 118, 199) ;
    border-radius: 15px;
    text-align: center;
}